<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Building</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
      </Row>
    <% @meetings.each do |meeting| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= meeting.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= meeting.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= meeting.building %></Data></Cell>
        <Cell><Data ss:Type="String"><%= meeting.address %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>